# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Environment and config
*.env

# OS and editor files
*.log
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

.env_d
